.home .headHome{
    text-align: center;
    border-bottom: 1px solid #fff;
    background-color: rgb(36, 36, 36);
    padding: .5em;
    margin-bottom: 2em;
}
.home .headHome h1{
    margin: 0;
    margin-bottom: .2em;
}
.btnNewGroup{
    position: fixed;
    top: 4.5em;
    right: .7em;
    padding: .7em;
    border-radius: 50%;
    width: 2.7em;
    height: 2.7em;
    border: none;
    background-color: rgba(0,0,0);
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: .3s;
    z-index: 10;
}
.btnNewGroup:hover{
    border: 1px solid rgb(189, 189, 189);
}
.divFormCreate{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divFormCreate .newGroup{
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
}
.divFormCreate .newGroup input{
    padding: .5em;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    width: 100%;
    margin-top: 2em;
    color: #fff;
}
.divFormCreate .newGroup input::placeholder{
    color: #ddd;
}
.divFormCreate .newGroup input[type='submit']{
    width: 80%;
    margin: auto;
    margin-top: 2em;
    transition: .3s;
    cursor: pointer;
}
.divFormCreate .newGroup input[type='submit']:hover{
    width: 85%;
}

.home .groups .group{
    margin-bottom: 2em;
    padding-left: 1em;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.svgDelete{
    display: none;
    cursor: pointer;
}
.home .groups .group:hover > .svgDelete{
    display: flex;
}
.home .groups .group svg{
    color: #fff;
    margin-right: 1.6em;
    font-size: 1.3em;
}
.home .groups .group a{
    text-decoration: none;
    color: #fff;
}
.groupName{
    font-size: 2em;
}
.numberContact{
    font-size: 1.2em;
}
.loadingHome{
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
}